@import "tailwindcss";

* a {
    text-decoration: none;
}

.swiper-slide-active .teacher-card {
    transform: scale(1.3);
    box-shadow: 0 12px 30px rgba(255, 0, 0, 0.35);
}

.textGrow{
    font-family: 'Andasia Personal Use', sans-serif;
    margin: 50px 0;                                   
}

.swiper-slide {
    width: 100%;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 100px 60px;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
}

.swiper-pagination{
    display: none;
}

.splide__arrows .splide__arrows--ltr{
    background: #EC0000;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    background: #c20000;
    font-size: 16px;
}